.ttt-wrapper
  color: #000
  font-weight: bold
  width: 100%
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-auto-rows: minmax(80px, auto)
  grid-gap: 15px

  .ttt-item
    border: 1px solid #000
    cursor: pointer
    min-height: 120px
    font-size: 80px
    text-align: center

