<div class="row" *ngIf="match">
  <div class="col-sm-6">
    <div *ngIf="!match.finished">
      <h3 *ngIf="canPlay()">Tu turno</h3>
      <h3 *ngIf="!canPlay()">Espera tu turno</h3>
    </div>
    <div *ngIf="match.finished">
      <h3>{{match.winner}}</h3>
      <button class="btn btn-success" (click)="restart()">Reiniciar partida</button>
    </div>

    <div class="row g-3">
      <div class="col-4">
        <label for="player_name" *ngIf="amiGuest()">{{match.player_name}} vs </label>
        <label for="player_name" *ngIf="!amiGuest()">{{match.guest_name}} vs </label>
      </div>
      <div class="col-4">
        <input id="player_name" class="form-control" [formControl]="playerName">
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-outline-dark" (click)="changePlayerName()" *ngIf="playerName.value !== ''">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="ttt-wrapper">
      <div class="ttt-item" *ngFor="let item of board; let i = index"
           (click)="myTurn(item)">{{match.data[item]}}</div>
    </div>
  </div>
</div>
