<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Unirme a una partida</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="game_id">Id de la partida</label>
      <div class="input-group">
        <input id="game_id" class="form-control" [formControl]="gameId">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="joinTheGame()" *ngIf="gameId.value !== ''">Unirme
    </button>
  </div>
</ng-template>

<div class="row">
  <div class="col-sm-6">
    <div class="card mx-auto" style="width: 18rem;">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
      </svg>
      <div class="card-body">
        <h5 class="card-title">Nueva partida</h5>
        <p class="card-text">Crear una nueva partida, comparte tu url o id de la partida a un amigo y a ganar!.</p>
        <button class="btn btn-success" (click)="newGame()">Ir</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mx-auto" style="width: 18rem;">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-ui-checks-grid" viewBox="0 0 16 16">
        <path d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-3zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-3zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0l2-2z"/>
      </svg>
      <div class="card-body">
        <h5 class="card-title">Unirse a una partida</h5>
        <p class="card-text">Pidele a tu amigo la url o ingresa el id de su partida en la siguiente ventana.</p>
        <button class="btn btn-primary" (click)="openJoinModal(content)">Unirme</button>
      </div>
    </div>
  </div>
</div>
